@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Gilroy;
  src: url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/Gilroy-BlackItalic.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/Gilroy-BlackItalic.woff) format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: Gilroy;
  src: url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/Gilroy-Black.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/Gilroy-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Gilroy;
  src: url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/Gilroy-ExtraBold.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/Gilroy-ExtraBold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Gilroy;
  src: url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/Gilroy-Bold.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/Gilroy-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Gilroy;
  src: url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/Gilroy-MediumItalic.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/Gilroy-MediumItalic.woff) format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: Gilroy;
  src: url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/Gilroy-Medium.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/Gilroy-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Gilroy;
  src: url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/Gilroy-Light.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/Gilroy-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Gilroy;
  src: url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/Gilroy-Regular.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/Gilroy-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Gilroy;
  src: url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/Gilroy-Heavy.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/Gilroy-Heavy.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Gilroy;
  src: url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/Gilroy-UltraLight.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/Gilroy-UltraLight.woff) format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Gilroy;
  src: url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/Gilroy-SemiBold.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/Gilroy-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Permanent Marker;
  src: url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/PermanentMarker-Regular.woff2?v=1702463741) format("woff2"), url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/PermanentMarker-Regular.woff?v=1702463741) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Recline;
  src: url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/font.woff2?v=1703078530) format("woff2"), url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/font.woff?v=1703078529) format("woff")
}

@font-face {
  font-family: Roam;
  src: url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/RoamRegular.woff2?v=1702463741) format("woff2"), url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/RoamRegular.woff?v=1702463741) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: STONE HARBOUR;
  src: url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/STONEHARBOUR-Italic.woff2?v=1702463777) format("woff2"), url(https://cdn.shopify.com/s/files/1/0536/8145/5277/files/STONEHARBOUR-Italic.woff?v=1702463777) format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap
}

.recline {
  font-family: "Recline", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.gilory {
  font-family: "Gilroy", sans-serif;

}

* {
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
}

.poppins {
  font-family: "Poppins", sans-serif;

}

.mainShadow {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 0px 3px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px
}

.react-tel-input .flag-dropdown {
  border: none !important;
}

.poppins .css-1dimb5e-singleValue {
  font-family: 'Poppins';
}

.poppins .css-1nmdiq5-menu {
  font-family: 'Poppins';
}